:root {
    --accent-1: #f82249;
    --heading-color: #0e1b4d;
}

body {
    overflow-x: hidden;
}

.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.callout p:last-child {
    margin-bottom: 0;
}

.callout code {
    border-radius: 3px;
}

.callout+.bs-callout {
    margin-top: -5px;
}

.callout-primary {
    border-left-color: var(--accent-1);
}

#header {
    padding: 0;
}

#header .container {
    height: 100%;
    display: flex;
    align-items: center;
}

#header .container #nav-menu-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

#header #logo {
    background-color: var(--light);
    padding: 0 5px;
    border-radius: 5px;
}

#header #logo .scrollto {
    display: block;
}

#header #logo .scrollto img {
    min-height: 65px;
    transition: all 0.3s ease;
}

.intro-container h2 {
    font-size: 24px;
    color: var(--light);
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.intro-container h2 span {
    color: var(--accent-1);
}

.intro-container .intro-logos {
    margin-top: 50px;
}

.intro-container .intro-logos .logo-container {
    padding: 10px 30px 5px;
}

.intro-container .logo {
    height: 160px;
    max-width: 300px;
    margin: auto;
}

.intro-container .logo img {
    max-width: 100%;
    max-height: 90%;
    filter: drop-shadow(0px 0px 5px #fff);
}

.header-scrolled#header #logo .scrollto img {
    min-height: 40px;
}

.count-container #count-countdown {
    color: var(--light);
}

.count-container #count-countdown li {
    display: inline-block;
    font-size: 1.5rem;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.count-container #count-countdown li span {
    display: block;
    font-size: 4.5rem;
}

.count-container .count-message {
    display: none;
}

.section-with-bg {
    padding: 60px 0 0;
}

#phases .steps {
    padding: 0;
    list-style: none;
}

#phases .steps li {
    margin: 2em 0 0;
    padding-top: 1em;
}

/* #phases .steps li::marker {
    color: var(--heading-color);
    font-size: 2rem;
} */

#phases .steps li h3 {
    font-size: 2rem;
}

#event-flow .steps li {
    margin: 1em 0 0;
    padding-top: 0.5em;
}

#event-flow .steps li::marker {
    color: var(--heading-color);
    font-size: 1rem;
}

#event-flow .steps li h3 {
    font-size: 1rem;
}

#prizes .first-text {
    background: #FCEABB;
    background: -webkit-linear-gradient(to bottom, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
    background: -moz-linear-gradient(to bottom, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
    background: linear-gradient(to bottom, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
}

#prizes .second-text {
    background: #D7D7D8;
    background: -webkit-linear-gradient(to bottom, #D7D7D8 0%, #959BA3 50%, #848B98 51%, #AEB2B8 100%);
    background: -moz-linear-gradient(to bottom, #D7D7D8 0%, #959BA3 50%, #848B98 51%, #AEB2B8 100%);
    background: linear-gradient(to bottom, #D7D7D8 0%, #959BA3 50%, #848B98 51%, #AEB2B8 100%);
}

#prizes .third-text {
    background: #EACA58;
    background: -webkit-linear-gradient(to bottom, #EACA58 0%, #836600 50%, #503B00 51%, #C1A132 100%);
    background: -moz-linear-gradient(to bottom, #EACA58 0%, #836600 50%, #503B00 51%, #C1A132 100%);
    background: linear-gradient(to bottom, #EACA58 0%, #836600 50%, #503B00 51%, #C1A132 100%);
}

#prizes .section-header {
    margin: 0;
}

#prizes .prize-item {
    max-width: max-content;
    min-width: 400px;
    margin: auto;
}

#prizes .prize-text {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    /* font-size: calc(55px + (60 - 40) * ((100vw - 300px) / (1600 - 300))); */
    font-size: 2.5rem;
    margin: 0;
    padding: 0 0 0 15px;
    /* border-left: 1px solid #00000040; */
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#prizes .price-icon {
    padding-top: 10px;
    text-align: center;
}

.padding {
    padding: 2rem
}

.tl-item .avatar {
    z-index: 2
}

.circle {
    border-radius: 500px
}

.gd-warning {
    color: #fff;
    border: none;
    background: #f4c414 linear-gradient(45deg, #f4c414, #f45414)
}

.timeline {
    position: relative;
    border-color: rgba(160, 175, 185, .15);
    padding: 0;
    margin: 0
}

.tl-item {
    border-radius: 3px;
    position: relative;
    display: -ms-flexbox;
    display: flex
}

.tl-item>* {
    padding: 10px
}

.tl-item:last-child .tl-dot:after {
    display: none
}

.tl-item.active .tl-dot:before {
    border-color: #448bff;
    box-shadow: 0 0 0 4px rgba(68, 139, 255, .2)
}

.tl-item:last-child .tl-dot:after {
    display: none
}

.tl-item.active .tl-dot:before {
    border-color: #448bff;
    box-shadow: 0 0 0 4px rgba(68, 139, 255, .2)
}

.tl-dot {
    position: relative;
    border-color: rgba(160, 175, 185, .15)
}

.tl-dot:after, .tl-dot:before {
    content: '';
    position: absolute;
    border-color: inherit;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%)
}

.tl-dot:after {
    width: 0;
    height: auto;
    top: 25px;
    bottom: -15px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0
}

tl-item.active .tl-dot:before {
    border-color: #448bff;
    box-shadow: 0 0 0 4px rgba(68, 139, 255, .2)
}

.tl-dot {
    position: relative;
    border-color: rgba(160, 175, 185, .15)
}

.tl-dot:after, .tl-dot:before {
    content: '';
    position: absolute;
    border-color: inherit;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%)
}

.tl-dot:after {
    width: 0;
    height: auto;
    top: 25px;
    bottom: -15px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0
}

.tl-content p:last-child {
    margin-bottom: 0
}

.tl-date {
    font-size: .85em;
    margin-top: 2px;
    min-width: 100px;
    max-width: 200px
}

.b-warning {
    border-color: #f4c414 !important
}

.b-old {
    border-color: var(--gray);
}

.b-primary {
    border-color: #448bff !important
}

.b-danger {
    border-color: #f54394 !important
}

.vbox-container {
    overflow-y: hidden;
}

.vbox-content {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vbox-container img {
    max-height: 90%;
}

.primary-btn{
    background: #f82249;
    border: 0;
    padding: 10px 40px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    cursor: pointer;
}

.primary-btn:hover {
    color: #fff;
    background: #e0072f;
}

.secondary-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #f82249;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #f82249;
}

.secondary-btn:hover {
    background: #f82249;
    color: #fff;
}

@media (max-width: 991px) {
    #header #logo .scrollto img {
        min-height: 40px;
    }
    #header .container #nav-menu-container {
        display: none;
    }
    .count-container #count-countdown li span {
        font-size: 2rem;
    }
    .intro-container .intro-logos {
        margin-top: 10px;
    }
    #intro h5 {
        font-size: 1.1rem;
    }
    #prizes .prize-text {
        text-align: center;
        padding: 0;
        border: none;
    }
    .page-container {
        max-width: 1140px;
        margin: 0 auto
    }
}

@media (max-width: 991px) {
    .intro-container .logo {
        height: 100px;
    }
}