:root {
    --accent-1: #f82249;
    --heading-color: #0e1b4d;
}

#header {
    padding: 0;
}

#header .container {
    height: 100%;
    display: flex;
    align-items: center;
}

#header .container #nav-menu-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

#header #logo {
    background-color: var(--light);
    border-radius: 5px;
}

#header #logo .scrollto {
    display: block;
}

#header #logo .scrollto img {
    min-height: 65px;
    transition: all 0.3s ease;
}

.intro-container h2 {
    font-size: 24px;
    color: var(--light);
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.intro-container h2 span {
    color: var(--accent-1);
}

.intro-container .intro-logo {
    margin-top: 50px;
    max-width: 300px;
}

.intro-container .intro-logo img {
    max-width: 100%;
    filter: drop-shadow(0px 0px 5px #fff);
}

.header-scrolled#header #logo .scrollto img {
    min-height: 40px;
}

.count-container #count-countdown {
    color: var(--light);
}

.count-container #count-countdown li {
    display: inline-block;
    font-size: 1.5rem;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.count-container #count-countdown li span {
    display: block;
    font-size: 4.5rem;
}

.count-container .count-message {
    display: none;
}

.section-with-bg {
    padding: 60px 0 0;
}

#phases .steps li {
    margin: 2em 0 0;
    padding-top: 1em;
}

#phases .steps li::marker {
    color: var(--heading-color);
    font-size: 2rem;
}

#phases .steps li h3 {
    font-size: 2rem;
}

#event-flow .steps li {
    margin: 1em 0 0;
    padding-top: 0.5em;
}

#event-flow .steps li::marker {
    color: var(--heading-color);
    font-size: 1rem;
}

#event-flow .steps li h3 {
    font-size: 1rem;
}

#prizes .first-text {
    background: #FCEABB;
    background: -webkit-linear-gradient(to bottom, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
    background: -moz-linear-gradient(to bottom, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
    background: linear-gradient(to bottom, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
}

#prizes .second-text {
    background: #D7D7D8;
    background: -webkit-linear-gradient(to bottom, #D7D7D8 0%, #959BA3 50%, #848B98 51%, #AEB2B8 100%);
    background: -moz-linear-gradient(to bottom, #D7D7D8 0%, #959BA3 50%, #848B98 51%, #AEB2B8 100%);
    background: linear-gradient(to bottom, #D7D7D8 0%, #959BA3 50%, #848B98 51%, #AEB2B8 100%);
}

#prizes .third-text {
    background: #EACA58;
    background: -webkit-linear-gradient(to bottom, #EACA58 0%, #836600 50%, #503B00 51%, #C1A132 100%);
    background: -moz-linear-gradient(to bottom, #EACA58 0%, #836600 50%, #503B00 51%, #C1A132 100%);
    background: linear-gradient(to bottom, #EACA58 0%, #836600 50%, #503B00 51%, #C1A132 100%);
}

#prizes .prize-text {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: calc(55px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
    margin: 0;
    padding: 0 0 0 15px;
    border-left: 1px solid #00000040;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#prizes .price-icon {
    text-align: center;
}

@media (max-width: 991px) {
    #header #logo .scrollto img {
        min-height: 40px;
    }
    #header .container #nav-menu-container {
        display: none;
    }
    .count-container #count-countdown li span {
        font-size: 2rem;
    }
    #prizes .prize-text {
        text-align: center;
        padding: 0;
        border: none;
    }
}