#header {
    padding: 0;
}

#header .container {
    height: 100%;
    display: flex;
    align-items: center;
}

#header .container #nav-menu-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

#header #logo {
    background-color: var(--light);
    border-radius: 5px;
}

#header #logo .scrollto {
    display: block;
}

#header #logo .scrollto img {
    min-height: 65px;
    transition: all 0.3s ease;
}

#intro h2 {
    font-size: 24px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

#intro h2 span {
    color: #f82249;
}

#intro img {
    filter: drop-shadow(0px 0px 5px #fff);
}

.header-scrolled#header #logo .scrollto img {
    min-height: 40px;
}

.count-container #count-countdown {
    color: var(--light);
}

.count-container #count-countdown li {
    display: inline-block;
    font-size: 1.5rem;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.count-container #count-countdown li span {
    display: block;
    font-size: 4.5rem;
}

.count-container .count-message {
    display: none;
}

.section-with-bg {
    padding: 60px 0 0;
}

#phases .steps li {
    margin: 2em 0 0;
    padding-top: 1em;
}

#phases .steps li::marker {
    font-size: 2rem;
}

#phases .steps li h3 {
    font-size: 2rem;
}

@media (max-width: 991px) {
    #header #logo .scrollto img {
        min-height: 40px;
    }
    #header .container #nav-menu-container {
        display: none;
    }
    .count-container #count-countdown li span {
        font-size: 2rem;
    }
}